
complaints-2020-01-22_08_24.csv
﻿# Ignore these files

.ipynb_checkpoints
complaints-2020-01-22_08_24.csv
glove.6B.zip
glove.6B/glove.6B.100d.txt
glove.6B/glove.6B.300d.txt
glove.6B/glove.6B.200d.txt
glove.6B/glove.6B.50d.txt
corpus.pkl
.idea
corpus_cleaned.pkl
corpus_cleaned_lemmatized.csv
corpus_cleaned_lemmatized.pkl
corpus_balanced3_cleaned.pkl
corpus_balanced3_cleaned_lemmatized.csv
runs_SVM/corpus_w_issue.pkl
runs_SVM/svm_runs_narrative_and_issue_on_product/balanced_data/corpus_balanced_cleaned_lemmatized_both.csv
runs_SVM/svm_runs_narrative_and_issue_on_product/balanced_data/corpus_balanced_cleaned_lemmatized_both_scarce_elimination.csv
runs_SVM/svm_runs_narrative_and_issue_on_product/balanced_data/corpus_balanced_cleaned_lemmatized_first_cut.csv
runs_SVM/svm_runs_narrative_and_issue_on_product/balanced_data/corpus_balanced_cleaned_lemmatized_first_cut_scarce_elimination.csv
runs_RF/rf_runs_with_issue/rbc_notebooks/corpus_cleaned_twice.pkl
runs_RF/rf_runs_with_issue/rbc_notebooks/corpus_cleaned_once.pkl
runs_RF/rf_runs_with_issue/lemmatizers/corpus_lemmatized_cleaned_once.csv
runs_RF/rf_runs_with_issue/lemmatizers/corpus_lemmatized_cleaned_twice.csv
corpus_sprint2_cleaned.csv
corpus_sprint2_balanced_cp.csv
corpus_sprint2_balanced_cps.csv
corpus_sprint2_balanced_cpsi.csv
corpus_sprint2_imbalanced_cps.csv
corpus_sprint2_imbalanced_cpsi.csv
corpus_sprint2_imbalanced_cp.csv
model_doc2vec_imbalanced_20epochs
runs_Sprint1/runs_RF/rf_runs_with_issue/rbc_notebooks/corpus_cleaned_once.pkl
runs_Sprint1/runs_RF/rf_runs_with_issue/rbc_notebooks/corpus_cleaned_twice.pkl
runs_Sprint1/runs_RF/rf_runs_with_issue/lemmatizers/corpus_lemmatized_cleaned_twice.csv
runs_Sprint1/runs_RF/rf_runs_with_issue/lemmatizers/corpus_lemmatized_cleaned_once.csv
model_doc2vec_balanced_20epochs
model_doc2vec_imbalanced_20epochs.docvecs.vectors_docs.npy
corpus_cleaned_and_stemmed_for_LDA.csv
corpus_cleaned_for_LDA.csv
corpus_sprint2_LDA_ready_bag_of_words.csv
corpus_sprint2_pc_50_LDA.csv
corpus_sprint2_pc_15_LDA.csv
corpus_sprint2_pc_100_LDA.csv
corpus_sprint2_pc_30_LDA.csv
Latent_Dirichlet_Allocation_LDA_for_Topic_Modeling.pdf
corpus_sprint3_balanced_cp.csv
corpus_sprint3_balanced_cps.csv
corpus_sprint3_balanced_cpsi.csv
corpus_sprint3_imbalanced_cp.csv
corpus_sprint3_imbalanced_cps.csv
corpus_sprint3_imbalanced_cpsi.csv
corpus_sprint3_balanced_cleaned_all.csv
corpus_sprint3_cleaned_and_stemmed.csv
runs_Sprint3/LDA/corpus_sprint3_cleaned_and_stemmed_v2.csv
runs_Sprint3/LDA/corpus_sprint3_cleaned_and_stemmed_v3.csv
runs_Sprint3/LDA/corpus_sprint3_LDA_v3_22topics_dominant_topic.csv
corpus_sprint3_cleaned_and_stemmed_v2.csv
consumer_complaint_bert_fully_cleaned.csv
consumer_complaint_bert_nearly_fully_cleaned.csv
consumer_complaint_bert_partially_cleaned.csv
names.txt
runs_Sprint3/BERT/BERT-backup voor oude andere model code.ipynb
runs_Sprint3/BERT/BERT-Copy1.ipynb
